/* タイトルロゴ */
.title-logo {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    background: linear-gradient(90deg, #00c6ff, #0072ff, #00ff72);
    -webkit-background-clip: text;
    color: transparent;
}

/* 投稿がない時のテキスト */
.text-no-post {
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .title-logo {
        font-size: 1.8rem;
    }
}
@media (max-width: 768px) {
    .title-logo {
        font-size: 1.6rem; /* テキストサイズを12pxに設定 */
    }
    .text-no-post {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .title-logo {
        font-size: 1.4rem; /* テキストサイズを10pxに設定 */
    }
}
.mypage-title {
    background: linear-gradient(90deg, #00c6ff, #0072ff, #00ff72);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}
.mypage-title::before {
    position: absolute;
    display: block;
    content: "";
    width: 40%;
    height: 1px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #00c6ff, #0072ff, #00ff72);
    color: transparent;
}

.user-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: auto;
}
.mypage-img {
    width: 2.4rem;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 5px;
}

.mypage-contents-img {
    display: inline-block;
    width: 1.8rem;
    cursor: pointer;
    opacity: 0.8;
}
.mypage-contents-img.-responsive {
    width: 1.8rem;
    padding-bottom: 0.2rem;
}

.mypage-contents-img.-logout {
    display: block;
    margin: auto;
}
.mypage-contents-img.-responsiveLogout {
    width: 1.5rem;
    display: block;
}

@media (max-width: 768px) {
    .user-img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media (max-width: 480px) {
    .user-img {
        width: 2rem;
        height: 2rem;
    }
}

/* ユーザー登録画面 */
.sign-up-title {
    position: relative;
    margin-bottom: 3rem;
}

.sign-up-title::after {
    color: #333;
    opacity: 0.5;
    display: block;
    content: "Sign Up";
    font-family: fantasy;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.sign-up-section {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .sign-up-section {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
    .mypage-img {
        width: 2rem;
    }
}
@media (max-width: 480px) {
    .sign-up-section {
        width: 90%;
        margin: auto;
        margin-top: 2rem;
    }
    .mypage-img {
        width: 1.6rem;
        margin-left: 10px;
    }
}

/* ログイン画面 */
.login-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 198, 255, 0.5),
        rgba(0, 114, 255, 0.5),
        rgba(0, 255, 114, 0.5)
    );
    position: relative;
}
.login-title {
    position: relative;
}

.login-title::after {
    color: #333;
    opacity: 0.5;
    display: block;
    content: "UserLogin";
    font-family: fantasy;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.login-box {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-input {
    display: block;
    margin: auto;
}
.login-btn {
    margin: auto;
}
@media (max-width: 1024px) {
    .login-box {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .login-box {
        width: 60%;
        top: 40%;
    }
}
@media (max-width: 480px) {
    .login-box {
        width: 80%;
    }
}

/* mainの高さ指定 */
.main-height {
    height: auto;
    min-height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(0, 198, 255, 0.5),
        rgba(0, 114, 255, 0.5),
        rgba(0, 255, 114, 0.5)
    );
}
@media (max-width: 1024px) {
    .main-height {
        height: auto;
        min-height: 100vh;
        /* padding-bottom: 200px; */
    }
}

/* tableテキスト レスポンシブ */
@media (max-width: 1024px) {
    .responsive-text {
        font-size: 0.875rem; /* テキストサイズを14pxに設定 */
    }
}

@media (max-width: 768px) {
    .responsive-text {
        font-size: 0.75rem; /* テキストサイズを12pxに設定 */
    }
}
@media (max-width: 480px) {
    .responsive-text {
        font-size: 0.5rem; /* テキストサイズを10pxに設定 */
    }
}

@media (max-width: 480px) {
    .responsive-padding {
        padding-left: 5px; /* テキストサイズを10pxに設定 */
        padding-right: 5px; /* テキストサイズを10pxに設定 */
    }
}

.nav-item {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}
.nav-item.-responsive {
    margin-bottom: 0;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.nav-item:hover::after {
    width: 50%;
}

.logout-btn {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: auto;
}

.logout-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url("/images/admin/logout01.png");
    background-size: contain; /* 画像サイズを調整 */
    background-repeat: no-repeat;
}

/* 1024px以下のナビ */
.under-nav {
    display: none;
}

/* ハンバーガーメニュー */
.hamburger-button {
    display: none;
}
.hamburger-button-img {
    display: none;
}

/* 管理メニューレスポンシブ */
@media (max-width: 1024px) {
    .under-nav {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 90px;
        left: 0;
        background-color: white;
        z-index: 100;
        transition: transform 0.3s ease-in-out;
        transform: translateY(100%);
    }
    .under-nav-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .under-nav.show {
        display: block;
        transform: translateY(0);
    }
    .hamburger-button {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 101;
    }
    .hamburger-button-img {
        display: block;
        width: 3rem;
        height: 3rem;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
    .hamburger-button-text {
        margin-left: 0.3rem;
    }
}

@media (max-width: 768px) {
    .under-nav {
        top: 84px;
    }
    .hamburger-button {
        top: 20px;
    }
    .hamburger-button-img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media (max-width: 480px) {
    .mypage-title {
        font-size: 20px;
    }
    .under-nav {
        top: 76px;
    }
    .hamburger-button-img {
        width: 2rem;
        height: 2rem;
    }
}

/* 投稿・編集ページ画像アップロード */
.img-flex {
    display: flex;
}
.uploadImg {
    margin-right: unset;
}
@media (max-width: 768px) {
    .img-flex {
        flex-direction: column;
    }
    .uploadImg {
        margin-right: auto;
        margin-bottom: 1rem;
    }
}

/* セレクトタブ */
@media (max-width: 1200px) {
    .select2 {
        max-width: 1050px !important;
        width: 80% !important;
    }
}
@media (max-width: 1024px) {
    .select2 {
        max-width: 900px !important;
        width: 80% !important;
    }
}
@media (max-width: 768px) {
    .select2 {
        max-width: 720px !important;
        width: 100% !important;
    }
}
@media (max-width: 480px) {
    .select2 {
        max-width: 380px !important;
        width: 100% !important;
    }
}
@media (max-width: 360px) {
    .select2 {
        max-width: 330px !important;
        width: 100%;
    }
}

.select2-container--default .select2-selection--multiple {
    border: 2px solid #eee;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    padding: 4px 0 10px 4px;
    border-radius: 0.25rem;
}

/* successメッセージのフェードアウト */
.relative-container {
    position: relative;
}
#success-message {
    position: absolute;
    transition: opacity 0.5s ease-out;
    top: 150px;
    left: 60%;
    transform: translate(-50%, -50%);
}
.fade-out {
    opacity: 0;
}
/* .hidden {
    display: none;
} */
/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem 0;
    margin-top: 2rem;
}
.page-item {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #eee;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .page-item {
        font-size: 1.2rem;
        width: 2rem;
        height: 2rem;
    }
}
@media (max-width: 768px) {
    .page-item {
        font-size: 1rem;
        width: 1.8rem;
        height: 1.8rem;
    }
}
@media (max-width: 480px) {
    .page-item {
        font-size: 0.8rem;
        width: 1.6rem;
        height: 1.6rem;
    }
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}
.page-item.active {
    background-color: #eee;
}

.page-item:first-child {
    margin-right: auto;
}
.page-item:last-child {
    margin-left: auto;
}

/* プロフフィール編集 */
.user-edit-section {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #fff;
}
.user-edit-name,
.user-edit-email,
.user-edit-password {
    width: 60%;
}
@media (max-width: 768px) {
    .user-edit-name,
    .user-edit-email,
    .user-edit-password {
        width: 100%;
    }
}
/* @media (max-width: 480px) {
    .user-edit-name {
        width: 100%;
    }
} */

/* 退会画面 */
.withdraw-section {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    background-color: #fff;
}
.withdraw-title {
    border-bottom: 1px solid #eee;
}
.withdraw-text-span {
    display: block;
    margin: auto;
}
.withdraw-flex {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.withdraw-btn {
    display: block;
    font-size: 1rem;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: red;
    margin-left: 2rem;
}
.back-btn {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1em;
    color: #000;
    border: 1px solid #ddd;
}
.back-btn:hover {
    color: #fff;
    background-color: #333;
}
@media (max-width: 768px) {
    .withdraw-btn,
    .back-btn {
        font-size: 0.8rem;
    }
    .withdraw-btn {
        margin-left: 1rem;
    }
}
@media (max-width: 480px) {
    .withdraw-flex {
        flex-direction: column;
    }
    .withdraw-btn,
    .back-btn {
        width: 80%;
        margin: auto;
    }
    .back-btn {
        margin-bottom: 1rem;
    }
}
