/* トップ画面 */
/* メインビジュアル */
ul,
li {
    list-style: none;
}
.top-mv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/images/index/bookshelves.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.top-mv::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 115, 221, 0.4);
    pointer-events: none;
    z-index: 10;
}
.top-mv-box {
    position: absolute;
    width: 90%;
    height: auto;
    background-color: white;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-mv-title {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 600;
    background: linear-gradient(90deg, #00c6ff 20%, #0072ff 50%, #00ff72 80%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 1rem;
}
.top-mv-sutitle {
    line-height: 1.8;
}
.top-mv-sutitle span {
    background: linear-gradient(
        transparent 40%,
        yellow 40% 90%,
        transparent 90%
    );
}
.top-my-img {
    width: 200px;
    height: 100%;
    aspect-ratio: 200/190;
}

.top-mv-text {
    text-align: left;
    line-height: 1.8;
}

/* 投稿セクション */
.top-post-section {
    width: 100%;
    height: auto;
}
.top-post-title {
    padding-top: 2rem;
    border-top: 1px solid #ddd;
}
.top-list {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(calc((100% / 4) - 1rem), 1fr)
    );
    gap: 1rem; /* アイテム間のスペース */
}
.top-list-item {
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: auto;
    border: 1px solid #eee;
    border-radius: 10px;
}
.top-list-item:nth-child(4n) {
    margin-right: 0;
}
.top-list-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 411/308;
}
.top-list-genre {
    display: inline-block;
    padding: 0.1rem 0.7rem;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #eee;
}
.category-btn {
    width: 30%;
    margin: auto;
    background: linear-gradient(90deg, #00c6ff 20%, #0072ff 50%, #00ff72 80%);
    -webkit-background-clip: text;
    color: transparent;
}
